<%- include("layout/header.ejs") %>
        <section class="" style="margin-top:80px">
            <div class="container">
                <div class="row">
                    <%- include("layout/sidebar.ejs") %>
                    <div class="col-xl-9 col-lg-9 col-md-8">
                        <form id="" action="" method="POST">
                            <div class="row">
                                <div class="col">
                                    <label for="" style="font-weight:bold;font-size:14px">Name <span style="color:red">*</span></label>
                                    <input 
                                    type="text" 
                                    value="<%= user.name %>"
                                    name="name"
                                    class="form-control form-control-border" />
                                    <span class="error"> </span>
                                </div>
                                <div class="col">
                                    <label for="" style="font-weight:bold;font-size:14px">Phone <span style="color:red">*</span></label>
                                    <input 
                                    type="text" 
                                    value="<%= user.phone %>"
                                    name="phone"
                                    class="form-control form-control-border" />
                                    <span class="error"> </span>
                                </div>
                            </div>
                            <div class="d-flex flex-column" style="font-weight:bold;font-size:14px;margin-top:15px">
                                <label for="">Country <span style="color:red">*</span></label>
                                <input 
                                type="text" 
                                value="<%= user.country %>"
                                name="country"
                                class="form-control form-control-border" />
                                <span class="error"> </span>
                            </div>
                            <div class="d-flex flex-column border-danger" style="margin-top:15px;font-weight:bold;font-size:14px">
                                <label for="">Email address <span style="color:red">*</span></label>
                                <input 
                                type="email" 
                                value="<%= user.email %>"
                                name="email"
                                disabled
                                class="form-control form-control-border" />
                                <span class="error"> </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="/assets/js/user-sidebar.js"></script>
    </body>
</html>